body {
  background-color: #000000;
}

p {
  font-family: "Verdana";
  font-size: 13px;
  color: #fffff0;
}

table {
  font-family: "Verdana";
  font-size: 13px;
  color: #fffff0;
}

option {
  background-color: #333333;
  font-family: "Verdana";
  font-size: 8px;
  color: #fffff0;
}

.grey_small {
  font-family: "Verdana";
  font-size: 9px;
  color: #cccccc;
}

.title {
  font-family: "Verdana";
  font-size: 20px;
  color: #fffff0;
  font-weight: bold;
}

a:link {
  font-family: "Verdana";
  font-size: 13px;
  color: #fffff0;
}

a:hover {
  font-family: "Verdana";
  font-size: 13px;
  color: #6699ff;
}

a:visited {
  font-family: "Verdana";
  font-size: 13px;
  color: #CCCCCC;
}
